html, body {
    margin: 0;
    height: 100%;
    display: grid;
    place-content: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17%;
}

#main label {
    font-family: "Luminari", fantasy;
    font-size: 4vw;
    margin-right: 6%;
}

#numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

#numbers span {
    flex: 1 0 auto
}

#numbers span:first-child {
    padding-right: 5%;
    font-size: 4vw;
    font-weight: bold;
    font-family: "Luminari", fantasy;
}

#numbers span:last-child {
    padding-left: 5%;
    font-size: 4vw;
    font-weight: bold;
    font-family: "Luminari", fantasy;
}

#progressContainer {
    display: inline-block;
    width: 70vw;
    height: 8vw;
    border: 1px solid #333333;
    border-radius: 999px;
}
  
#progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width:63%;
    height: 100%;
    background-color: orange;
    border-radius: 999px;
}

#progress strong {
    color: black;
    position: relative;
    font-size: 3vw;
    animation-name: changecolor;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

sub {
    font-size: 1.5vw;
}

@keyframes changecolor {
    0% {color: black;}
    75% {color: lightyellow}
    100% {color: gold;}
}